header h1, header h2 {
	display: inline-block;
	vertical-align: baseline;
	line-height: 100%;
}

header h2 {
	font-size: 20px;
}

.fa-user {
	font-size: 4cm;
	text-align: center;
}

.panel {
	border: 1px solid transparent;
}

main .container {
	margin-top: 50px;
	margin-bottom: 50px;
}

button {
	vertical-align: bottom;
}

main ul {
	display: inline-block;
}